body {
    background: linear-gradient(to right, #28a745, #85e085);
    margin: 0;
    font-family: Arial, sans-serif;
}

.cadastro-container {
    width: 400px;
    margin: 120px auto;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    text-align: center;
}

.cadastro-container h2 {
    color: #28a745;
}

.cadastro-container input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.cadastro-container button {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.cadastro-container button:hover {
    background-color: #1e7e34;
}
